[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pyttsx3 = "*"
requests = "*"
PyPDF2 = "*"
python-docx = "*"
chardet = "*"
SpeechRecognition = "*"
gtts = "*"
cartesia = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.13"
